.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &__heading {
        @include main-heading;
    }

    &__input {
        margin-bottom: 20px;
        font-family: $font__basic;
        background: transparent;
        color: $color__yellow;
        text-align: center;
        padding: 5px 10px;
        font-size: 20px;
        font-weight: 700;
        letter-spacing: 2px;
        text-transform: uppercase;
        border: 2px solid $color__red--dark-2;
    }

    &__btn {
        font-size: 16px;
        font-weight: 700;
        text-transform: uppercase;
        padding: 9px 40px 7px;
        background: transparent;
        color: $color__yellow;
        border: 2px solid $color__red--dark-2;
        cursor: pointer;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);

        &:active {
            box-shadow: 0 0 15px rgba(0, 0, 0, 0.05);
            transform: translateY(2px);
        }
    }
}